<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095853151666-n2km7hacidei1uastlns1h4ehcjsdkk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095853151666-n2km7hacidei1uastlns1h4ehcjsdkk7</string>
	<key>API_KEY</key>
	<string>AIzaSyC2Kg14MVOefvi-cZ3vL1A-g0Cppwq3i8E</string>
	<key>GCM_SENDER_ID</key>
	<string>1095853151666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.learnReadApp</string>
	<key>PROJECT_ID</key>
	<string>learnreadapp-da772</string>
	<key>STORAGE_BUCKET</key>
	<string>learnreadapp-da772.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095853151666:ios:97a4fb3fe1f3fa4094c0ab</string>
</dict>
</plist>